DEPLOYER_PRIVATE_KEY=
NEXT_PUBLIC_HORIZEN_EON_RPC=https://rpc.ankr.com/horizen_eon
NEXT_PUBLIC_CHAIN_ID=7332
NEXT_PUBLIC_DRUG_REGISTRY_ADDRESS=
NEXT_PUBLIC_ZKVERIFY_PROXY=0xCb47A3C3B9Eb2E549a3F2EA4729De28CafbB2b69
